DEBUG=True
SECRET_KEY=replace-me

DATABASE_NAME=enterprise_support
DATABASE_USER=enterprise_support_user
DATABASE_PASSWORD=enterprise_support_password
DATABASE_HOST=postgres
DATABASE_PORT=5432

REDIS_URL=redis://redis:6379/0