Django==5.0.7
djangorestframework==3.15.2

django-filter==24.2
django-cors-headers==4.4.0

psycopg2-binary==2.9.9

redis==5.0.8
celery==5.4.0

python-dotenv==1.0.1

pytest==8.3.2
pytest-django==4.8.0
factory-boy==3.3.0

coverage==7.6.1
ruff==0.5.7
mypy==1.11.1

langgraph==0.2.14
langchain==0.2.14

langchain-openai==0.1.22
pydantic==2.8.2